---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
// import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import CardLarge from "@components/CardLarge";
import SearchBubble from "@components/SearchBubble.astro";
import SectionHeading from "@components/SectionHeading.astro";
import ArrowRight from "@components/ArrowRight.astro";
//import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

//const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header activeNav="blog" />
  <main id="main-content">
    <section id="hero">
      <div class="hero-wrapper">
        <div class="hero-heading-wrapper">
          <SectionHeading heading="Blog" variant="hero" />
          <h1 class="hero-heading">
            Welcome to my <span>personal blog!</span>
          </h1>
        </div>
      </div>
    </section>

    <Hr variant="hero" />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <SectionHeading heading="Featured" />
            <ul class="section-cards-wrapper">
              {featuredPosts.map(({ data, slug }) => (
                <CardLarge
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    <Hr variant="hero" />

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <SectionHeading heading="Recent Posts" />
          <ul class="section-cards-wrapper">
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
          <div class="all-posts-btn-wrapper">
            <LinkButton href="/posts/" variant="outline">
              All Posts
              <ArrowRight />
            </LinkButton>
          </div>
        </section>
      )
    }
  </main>

  <Footer />
  <!-- <SearchBubble /> -->
</Layout>

<style>
  /* ===== Hero Section ===== */

  #hero img {
    @apply mask mask-squircle;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply max-w-full space-y-10 px-12 pb-24 pt-12;
  }
  .all-posts-btn-wrapper {
    @apply mx-auto mb-20 px-[16.95vw] text-center;
  }
</style>
